
    .h-100vh{
        height: 100vh;
      
    }

    .right-panel{
        height: 560px;
        width: 500px;
        background-color: antiquewhite;
       
    }


    .button-box{
        width: 230px;
        margin: 35px auto;
        border-radius: 30px; 
        position: relative;
    }

    .toggle-btn{

        padding: 12px 30px;
        cursor: pointer;
        background: transparent;
        border: 0;
        outline: none;
        position: relative;
        font-weight: bold;
        

}

#btn{

    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    background-color: rgb(229, 161, 51);;
   
    transition: 0.5s;
}

